@{
    ViewData["Title"] = "Contato retal";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua da piroca<br />
    Rolanda, PE 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:bolas@amarelas.com">bolas@amarelas.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:bolas.gordas@amarelas.com">mailto:bolas.gordas@amarelas.com</a>
</address>
